<div class="card" *ngIf="metrics">
  <h4 class="card-header">
    Pandora
    <ng-container>
      <span *ngIf="metrics['p2p/peers'] >= 20" class="badge bg-success"
        >Excellent</span
      >
      <span
        *ngIf="metrics['p2p/peers'] < 20 && metrics['p2p/peers'] > 0"
        class="badge bg-warning"
        >Ok</span
      >
      <span *ngIf="metrics['p2p/peers'] <= 0" class="badge bg-danger"
        >Not syncing</span
      >
    </ng-container>
  </h4>

  <div class="card-body">
    <table
      *ngIf="!(metrics['p2p/peers'] === undefined); else notRunning"
      class="table"
    >
      <tbody>
        <tr class="property property--peers">
          <td class="property-name">Peers</td>
          <td class="property-value">{{ metrics['p2p/peers'] }}</td>
        </tr>
        <tr>
          <td class="property-name">Latest Block</td>
          <td class="property-value">{{ metrics['chain/head/block'] }}</td>
        </tr>
      </tbody>
    </table>
    <ng-template #notRunning> Not Running </ng-template>
  </div>
</div>
