<div class="status-box" *ngIf="metrics">
  <div
    class="d-flex flex-column"
    *ngIf="!(metrics['p2p/peers'] === undefined); else notRunning"
  >
    <h1 class="title">
      Pandora <span>{{ version.pandora }}</span>
    </h1>

    <div class="peers-container">
      <span class="peers">{{ metrics['p2p/peers'] }}</span>
      <span class="label">Peers </span>
    </div>

    <div class="graph">
      <ngx-charts-line-chart
        [legend]="false"
        [animations]="false"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [showGridLines]="true"
        [autoScale]="true"
        [activeEntries]="multi"
        [results]="multi"
        [customColors]="customColors"
      >
      </ngx-charts-line-chart>
    </div>

    <div class="status d-flex flex-row flex-fill">
      <div>
        <div class="label">LAST BLOCK</div>
        <span class="latest-block">
          {{
            metrics['chain/head/block'] | currency: '#':'symbol':'1.0-0'
          }}</span
        >
      </div>
      <div class="ms-auto">
        <div class="label">STATUS</div>
        <ng-container>
          <span *ngIf="metrics['p2p/peers'] >= 5" class="badge bg-success"
            >Excellent</span
          >
          <span
            *ngIf="metrics['p2p/peers'] < 5 && metrics['p2p/peers'] > 0"
            class="badge bg-warning"
            >OK</span
          >
          <span *ngIf="metrics['p2p/peers'] <= 0" class="badge bg-danger"
            >Not syncing</span
          >
        </ng-container>
      </div>
    </div>
  </div>
  <ng-template #notRunning>
    <button type="button" class="btn btn-primary">Start Pandora</button>
  </ng-template>
</div>
