<div class="status-box" *ngIf="metrics">
  <div
    class="card-body d-flex flex-column"
    *ngIf="!(metrics['p2p/peers'] === undefined); else notRunning"
  >
    <h1 class="title">Pandora</h1>

    <div class="flex-fill">
      <span class="peers">{{ metrics['p2p/peers'] }}</span>
      <span class="label">Peers </span>
    </div>

    <div class="status d-flex flex-row">
      <div>
        <div class="label">LAST BLOCK</div>
        <span class="latest-block"> {{ metrics['chain/head/block'] }}</span>
      </div>
      <div class="ms-auto">
        <div class="label">STATUS</div>
        <ng-container>
          <span *ngIf="metrics['p2p/peers'] >= 5" class="badge bg-success"
            >Excellent</span
          >
          <span
            *ngIf="metrics['p2p/peers'] < 5 && metrics['p2p/peers'] > 0"
            class="badge bg-warning"
            >OK</span
          >
          <span *ngIf="metrics['p2p/peers'] <= 0" class="badge bg-danger"
            >Not syncing</span
          >
        </ng-container>
      </div>
    </div>
  </div>
  <ng-template #notRunning> Not Running </ng-template>
</div>
