:host {
  display: block;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 5px 10px 10px;
  background: white;
}

.title {
  font-size: 20px;
  font-weight: 700;

  span {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.2;
  }
}

.status-box,
.card-body {
  height: 100%;
}

.status-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  padding: 20px 0 0;
}

.label {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.2);
  font-size: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.peers {
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  padding-right: 10px;
  color: rgb(0, 115, 192);
}
.latest-block {
  font-size: 16px;
  font-weight: 700;
}

.bg-success {
  background: #ccfbe1 !important;
  color: #2db679;
}

span.badge {
  display: block;
  width: 100px;
  padding: 5px 10px;
  border-radius: 4px;
  text-transform: uppercase;
}

td {
  vertical-align: top;
}

.property-name {
  width: 200px;
}

.property-value {
  text-align: right;
}

.property--peers {
  font-size: 30px;
}

.bg-success {
  background: #ccfbe1 !important;
  color: #2db679;
}

.bg-warning {
  background: #fcf8e9 !important;
  color: #e3bd18;
}

.bg-danger {
  background: #fde9ee !important;
  color: #eb476f;
}

.graph {
  height: 100px;
}
