<div class="container">
  <h1 class="title">Available Clients</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Software</th>
        <th>Tag</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of availableSoftware$ | async">
        <th scope="row">{{ item.name | titlecase }}</th>
        <td>
          <table class="table table-striped table-bordered">
            <tbody>
              <tr *ngFor="let release of item.versions; let i = index">
                <td>
                  <div class="tags">
                    <span class="badge bg-dark">{{ release.tag }} </span>
                    <span *ngIf="i === 0" class="badge bg-info">latest</span>
                  </div>
                </td>
                <td>
                  <button
                    class="btn btn-primary"
                    type="button"
                    [disabled]="release.isDownloading"
                    (click)="install(item.name, release)"
                  >
                    <span
                      *ngIf="release.isDownloading"
                      class="spinner-border spinner-border-sm"
                      role="status"
                      aria-hidden="true"
                    ></span>
                    <span *ngIf="!release.isDownloading">Download</span>
                  </button>
                </td>
                <td>
                  <a class="btn btn-danger">Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
