<div class="card">
  <h4 class="card-header">
    Orchestrator
    <span class="badge bg-warning">Ok</span>
    <!-- <ng-container *ngIf="metrics[peersSelector] as peers">
      <span *ngIf="peers >= 20" class="badge bg-success">Excellent</span>
      <span *ngIf="peers < 20 && peers > 1" class="badge bg-warning">Ok</span>
      <span *ngIf="peers <= 1" class="badge bg-danger">Not syncing</span>
    </ng-container> -->
  </h4>

  <div class="card-body">
    <table class="table is-hoverable">
      <tbody>
        <tr>
          <td class="property-name">Stats</td>
          <td>TBD</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
