<div class="container px-5 my-5">
  <form id="contactForm" data-sb-form-api-token="API_TOKEN">
    <div class="d-none" id="submitSuccessMessage">
      <div class="text-center mb-3">
        <div class="fw-bolder">Form submission successful!</div>
        <p>To activate this form, sign up at</p>
        <a href="https://startbootstrap.com/solution/contact-forms"
          >https://startbootstrap.com/solution/contact-forms</a
        >
      </div>
    </div>
    <div class="d-none" id="submitErrorMessage">
      <div class="text-center text-danger mb-3">Error sending message!</div>
    </div>
    <div class="d-grid">
      <button class="btn btn-primary disabled" id="submitButton" type="submit">
        Save Settings
      </button>
    </div>
  </form>
</div>
