<div class="px-4 py-5 my-5 text-center">
  <img
    class="d-block mx-auto mb-4"
    src="https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/assets/0xA8b919680258d369114910511cc87595aec0be6D/logo.png"
    alt=""
    width="72"
  />
  <h1 class="display-5 fw-bold">L15 Testnet</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      This testnet is ephemeral, meaning it is not meant to be fully stable and
      usable yet for more persistent test smart contracts. Assume the network
      could be reset at any time.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
        Setup Node
      </button>
    </div>
  </div>
</div>
