<div class="key-infos">
  <h5 class="title">Send Transactions</h5>
  <p class="text-secondary">
    To become a validator you'll need to know about managing keys and protecting
    a mnemonic. If you are not yet familiar with keys and mnemomics, please do
    not proceed.
  </p>
</div>
<div class="key-form">
  <h5 class="title">Transactions</h5>
  <div *ngFor="let deposit of depositData">
    <strong>0x{{ truncate(deposit.pubkey, 8, 8, 20) }}</strong>
    &nbsp;
    <span>32 LYXt</span>
    &nbsp; Status
  </div>
  <button class="btn btn-primary btn-lg" (click)="sendTransactions()">
    Send Transactions
  </button>
</div>
