/*
   * Remove template code below
   */
:host {
  display: block;
  margin: 0;
}

.lukso-logo {
  display: block;
  max-height: 20px;
  margin: 0 20px;
}

main {
  display: block;
}

.navbar {
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
  padding-right: 30px;
  padding-left: 30px;
}
