/*
   * Remove template code below
   */
:host {
  display: block;
  margin: 0 auto;
}

.lukso-logo {
  display: block;
  max-height: 24px;
  margin: 0 20px;
}

.settings {
  padding-right: 20px;
}

main {
  display: block;
}

.navbar {
  height: 80px;
  font-size: 16px;
  background-color: white;
}

.navbar-brand {
  padding-right: 40px;
}

a.nav-link.active {
  position: relative;
  color: #151c2c !important;
  &::after {
    content: '';
    position: absolute;
    left: 21px;
    right: 21px;
    bottom: 0px;
    display: block;
    margin-top: 5px;
    height: 2px;
    background-color: #1cabe1;
  }
}
a.nav-link {
  color: #919cb4 !important;
}

.navbar-light .navbar-nav .nav-link {
  padding-right: 21px;
  padding-left: 21px;
}

.status-box {
  box-shadow: 1in #000;
  background: white;
  border-color: 1px solid red;
}
