/*
   * Remove template code below
   */
:host {
  display: block;
  margin: 0 auto;
}

.lukso-logo {
  display: block;
  max-height: 20px;
  margin: 0 20px;
}

main {
  display: block;
}

.navbar {
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
  padding-right: 30px;
  padding-left: 30px;
}

.status-box {
  box-shadow: 1in #000;
  background: white;
  border-color: 1px solid red;
}
