/*
   * Remove template code below
   */
:host {
  display: block;
  font-family: sans-serif;
  margin: 0;
}

.lukso-logo {
  display: block;
  max-width: 150px;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

nav {
  margin-bottom: 40px;
}
