<main>
  <div
    class="d-flex flex-column flex-shrink-0 p-3 bg-light"
    style="width: 280px; height: 100vh"
  >
    <a
      href="/"
      class="
        d-flex
        align-items-center
        mb-3 mb-md-0
        me-md-auto
        link-dark
        text-decoration-none
      "
    >
      <img
        class="lukso-logo"
        src="https://lukso.network/images/lukso_wordmark_black.png"
        alt="LUKSO Logo"
      />
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          aria-current="page"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          aria-current="page"
          routerLink="/status"
          routerLinkActive="active"
        >
          Status
        </a>
      </li>
      <li>
        <a
          href="#"
          class="nav-link link-dark"
          routerLink="/launchpad"
          routerLinkActive="active"
        >
          Launchpad
        </a>
      </li>
      <li>
        <a
          href="#"
          class="nav-link link-dark"
          routerLink="/updates"
          routerLinkActive="active"
        >
          Updates
        </a>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>
</main>
