<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#"> LUKSO Node Status </a>
  </div>
</nav>
<div class="container is-max-widescreen">
  <lukso-pandora-status></lukso-pandora-status>
  <lukso-vanguard-status></lukso-vanguard-status>
  <article class="message is-info">
    <div class="message-header">
      <p>Info</p>
    </div>
    <div class="message-body">
      If you just started your node, please give it at least an hour to find
      peers, p2p discovery takes some time.
    </div>
  </article>
</div>
