<div class="status-box" *ngIf="metrics">
  <div
    class="card-body d-flex flex-column"
    *ngIf="
      !(metrics['process_cpu_seconds_total'] === undefined);
      else notRunning
    "
  >
    <h1 class="title">Validator <span>v0.1.0-develop</span></h1>

    <div class="flex-fill">
      <span class="peers">{{ validatorData.length }} </span>
      <span class="label">Validators</span>
    </div>

    <div class="flex-fill">
      <table class="table table-borderless table-sm">
        <tbody>
          <tr *ngFor="let validator of validatorData | slice: 0:3">
            <td class="property-name">
              <a
                class="explorer-link"
                href="https://{{
                  env
                }}explorer.vanguard.l15.lukso.network/validator/{{
                  validator.key
                }}"
                target="_blank"
                >{{ truncate(validator.key, 6, 6, 50) }}</a
              >
            </td>
            <td>
              <span class="d-flex">
                {{
                  getValidatorMetric('validator_balance', validator.key)
                    | number: '1.2-2'
                }}&nbsp;LYXt
              </span>
            </td>
            <td>
              <span class="badge bg-dark">{{
                VALIDATOR_STATUSES[
                  getValidatorMetric('validator_statuses', validator.key)
                ]
              }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="status d-flex flex-row align-items-end">
      <div class="flex-fill">
        <div class="label">STATUS</div>
        <span class="badge bg-danger">TBD</span>
      </div>
      <div class="flex-fill text-end">
        <div class="label">SUCCESSFUL PROPOSALS</div>
        <span class="latest-block">Some Metric</span>
      </div>
    </div>
  </div>
  <ng-template #notRunning>
    <h5>Become a Validator</h5>
    <button type="button" class="btn btn-primary" routerLink="/launchpad">
      Get Started
    </button>
  </ng-template>
</div>
