<div class="status-box d-flex flex-row">
  <div>
    <div class="label">BEST BLOCK</div>
    <div class="value" *ngIf="blockInfo?.blockNumber">
      #{{ blockInfo?.blockNumber | number: '1.0-0' }}
    </div>
  </div>
  <div>
    <div class="label">LAST BLOCK</div>
    <div class="value" *ngIf="blockInfo?.blockNumber">
      {{ blockInfo?.timeStamp | timeago: true }}
    </div>
  </div>
  <div>
    <div class="label">AVERAGE BLOCK TIME</div>
    <div class="value">...</div>
  </div>
  <div>
    <div class="label">VALIDATORS</div>
    <div class="value">...</div>
  </div>
</div>
