<div class="status-box d-flex flex-row">
  <div>
    <svg
      class="icon"
      xmlns="http://www.w3.org/2000/svg"
      width="23.514"
      height="26.698"
      viewBox="0 0 23.514 26.698"
    >
      <g id="_012-block" data-name="012-block" opacity="0.51">
        <path
          id="Path_49"
          data-name="Path 49"
          d="M56.558,12.667,67.53,6.335,56.558,0,45.586,6.335Z"
          transform="translate(-44.801 0)"
          fill="#919cb4"
        />
        <path
          id="Path_50"
          data-name="Path 50"
          d="M41.506,153.889l-10.972-6.332v12.669l10.972,6.335Z"
          transform="translate(-30.534 -139.863)"
          fill="#919cb4"
        />
        <path
          id="Path_51"
          data-name="Path 51"
          d="M271.056,153.889v12.672l10.972-6.335V147.557Z"
          transform="translate(-258.514 -139.863)"
          fill="#919cb4"
        />
      </g>
    </svg>

    <div class="label">BEST BLOCK</div>
    <div class="value" *ngIf="blockInfo?.blockNumber">
      #{{ blockInfo?.blockNumber | number: '1.0-0' }}
    </div>
  </div>
  <div>
    <svg
      class="icon"
      xmlns="http://www.w3.org/2000/svg"
      width="20.405"
      height="25.303"
      viewBox="0 0 20.405 25.303"
    >
      <g
        id="_004-sand-clock"
        data-name="004-sand-clock"
        transform="translate(-37.226 0)"
        opacity="0.51"
      >
        <g id="Group_45" data-name="Group 45" transform="translate(37.226 0)">
          <path
            id="Path_11"
            data-name="Path 11"
            d="M56.815,25.3a.816.816,0,0,0,0-1.632H55.183V19.3a2.871,2.871,0,0,0-.979-2.159l-4.065-3.555a1.21,1.21,0,0,1-.42-.93,1.224,1.224,0,0,1,.42-.93L54.2,8.166a2.857,2.857,0,0,0,.979-2.159V1.632h1.632a.816.816,0,1,0,0-1.632H38.042a.816.816,0,0,0,0,1.632h1.632V6.407a2.851,2.851,0,0,0,.992,2.167l3.624,3.142a1.226,1.226,0,0,1,.429.935,1.213,1.213,0,0,1-.429.935l-3.624,3.138a2.866,2.866,0,0,0-.992,2.171V23.67H38.042a.816.816,0,1,0,0,1.632H56.815ZM53.55,23.67H41.307V18.9a1.242,1.242,0,0,1,.424-.935l3.624-3.138a2.864,2.864,0,0,0,0-4.334L41.732,7.346a1.251,1.251,0,0,1-.424-.939V1.632H53.55V6.007a1.24,1.24,0,0,1-.424.93l-4.065,3.555a2.869,2.869,0,0,0,0,4.318l4.069,3.555a1.236,1.236,0,0,1,.42.93V23.67Z"
            transform="translate(-37.226 0)"
            fill="#919cb4"
          />
          <path
            id="Path_12"
            data-name="Path 12"
            d="M118.008,194.856a3.441,3.441,0,0,1-.992-1.4,3.318,3.318,0,0,1-.188-1.057v-.061h-.118v.057a3.28,3.28,0,0,1-1.122,2.42l-3.624,3.142a.834.834,0,0,0-.286.624v3.6a.364.364,0,0,0,.363.363h9.884a.364.364,0,0,0,.363-.363v-3.2a.83.83,0,0,0-.282-.624Z"
            transform="translate(-106.781 -179.683)"
            fill="#919cb4"
          />
        </g>
      </g>
    </svg>

    <div class="label">LAST BLOCK</div>
    <div class="value" *ngIf="blockInfo?.blockNumber">
      {{ blockInfo?.timeStamp | timeago: true }}
    </div>
  </div>
  <div>
    <svg
      class="icon"
      xmlns="http://www.w3.org/2000/svg"
      width="21"
      height="24"
      viewBox="0 0 21 24"
    >
      <path
        id="_002-stopwatch"
        data-name="002-stopwatch"
        d="M20.094,6.819l1.613-1.612a1,1,0,0,0-1.414-1.414L18.68,5.4A10.45,10.45,0,0,0,13,3.051V2h2a1,1,0,1,0,0-2H9A1,1,0,0,0,9,2h2V3.051a10.506,10.506,0,1,0,9.094,3.768ZM15.6,18.3a1,1,0,0,1-1.4-.2l-3-4a1,1,0,0,1-.2-.6V8a1,1,0,0,1,2,0v5.167L15.8,16.9a1,1,0,0,1-.2,1.4Z"
        transform="translate(-1.5)"
        fill="#919cb4"
        opacity="0.51"
      />
    </svg>

    <div class="label">AVERAGE BLOCK TIME</div>
    <div class="value">...</div>
  </div>
  <div>
    <svg
      class="icon"
      xmlns="http://www.w3.org/2000/svg"
      width="22.932"
      height="19.111"
      viewBox="0 0 22.932 19.111"
    >
      <g
        id="_011-user"
        data-name="011-user"
        transform="translate(-7.732)"
        opacity="0.51"
      >
        <g id="Group_48" data-name="Group 48" transform="translate(11.554 0)">
          <g id="Group_47" data-name="Group 47">
            <circle
              id="Ellipse_29"
              data-name="Ellipse 29"
              cx="4.459"
              cy="4.459"
              r="4.459"
              fill="#919cb4"
            />
          </g>
        </g>
        <g
          id="Group_50"
          data-name="Group 50"
          transform="translate(21.746 5.096)"
        >
          <g id="Group_49" data-name="Group 49">
            <circle
              id="Ellipse_30"
              data-name="Ellipse 30"
              cx="3.185"
              cy="3.185"
              r="3.185"
              fill="#919cb4"
            />
          </g>
        </g>
        <g
          id="Group_54"
          data-name="Group 54"
          transform="translate(7.732 10.192)"
        >
          <g id="Group_53" data-name="Group 53">
            <path
              id="Path_46"
              data-name="Path 46"
              d="M114.947,256a8.291,8.291,0,0,0-8.281,8.281.637.637,0,0,0,.637.637h15.288a.637.637,0,0,0,.637-.637A8.291,8.291,0,0,0,114.947,256Z"
              transform="translate(-106.666 -256)"
              fill="#919cb4"
            />
          </g>
        </g>
        <g
          id="Group_58"
          data-name="Group 58"
          transform="translate(23.743 12.74)"
        >
          <g id="Group_57" data-name="Group 57">
            <path
              id="Path_48"
              data-name="Path 48"
              d="M375.952,298.667a5.715,5.715,0,0,0-1.189.138,9.5,9.5,0,0,1,1.826,5.6,1.89,1.89,0,0,1-.117.637h4.576a.637.637,0,0,0,.637-.637A5.74,5.74,0,0,0,375.952,298.667Z"
              transform="translate(-374.763 -298.667)"
              fill="#919cb4"
            />
          </g>
        </g>
      </g>
    </svg>

    <div class="label">VALIDATORS</div>
    <div class="value">...</div>
  </div>
</div>
