<div>
  <div [ngClass]="minlength ? 'text-success' : 'text-danger'">
    <i class="bi" [ngClass]="minlength ? 'bi-check-circle' : 'bi-x-circle'"></i>
    <small> Must be at least <strong>8 characters</strong> long.</small>
  </div>

  <div class="col" [ngClass]="hasNumber ? 'text-success' : 'text-danger'">
    <i class="bi" [ngClass]="hasNumber ? 'bi-check-circle' : 'bi-x-circle'"></i>
    <small> Must contain at least <strong>1 number</strong>.</small>
  </div>

  <div class="col" [ngClass]="hasCapitalCase ? 'text-success' : 'text-danger'">
    <i
      class="bi"
      [ngClass]="hasCapitalCase ? 'bi-check-circle' : 'bi-x-circle'"
    ></i>
    <small> Must contain at least <strong>1 capital letter</strong>. </small>
  </div>

  <div class="col" [ngClass]="hasSmallCase ? 'text-success' : 'text-danger'">
    <i
      class="bi"
      [ngClass]="hasSmallCase ? 'bi-check-circle' : 'bi-x-circle'"
    ></i>
    <small> Must contain at least <strong>1 lowercase letter</strong>.</small>
  </div>

  <div
    class="col"
    [ngClass]="hasSpecialCharacters ? 'text-success' : 'text-danger'"
  >
    <i
      class="bi"
      [ngClass]="hasSpecialCharacters ? 'bi-check-circle' : 'bi-x-circle'"
    ></i>
    <small> Must contain at least <strong>1 special character</strong>.</small>
  </div>
</div>
