:host {
  display: block;
  margin: 0 20px 40px 20px;
}

td {
  vertical-align: top;
}

.property-name {
  width: 200px;
}
.cmdLine {
  display: block;
  td {
    opacity: 0.5;
  }
  td.values {
    opacity: 1;
    overflow-wrap: anywhere;
  }
}
