<h2 class="title">Pandora</h2>
<section
  *ngIf="metrics$ | async as metrics; else loadingOrError"
  class="columns"
>
  <div class="column">
    <table class="table is-hoverable">
      <tr>
        <td class="property-name">Peers</td>
        <td>{{ metrics['p2p/peers'] }}</td>
        <td *ngIf="metrics['p2p/peers'] as peers">
          <span *ngIf="peers >= 20" class="tag is-success">OK</span>
          <span *ngIf="peers < 20 && peers > 5" class="tag is-success">OK</span>
          <span *ngIf="peers <= 5" class="tag is-success">OK</span>
        </td>
      </tr>
      <tr>
        <td class="property-name">Latest Block</td>
        <td>{{ metrics['chain/head/block'] }}</td>
      </tr>
      <!-- <tr>
        <td class="property-name">Startup Arguments</td>
        <td class="cmdLine">
          <details>
            <summary>Show command-line arguments</summary>
            <table>
              <tr *ngFor="let item of metrics['cmdline']">
                <td>{{ item.split('=')[0] }}</td>
                <td class="values">{{ item.split('=')[1] }}</td>
              </tr>
            </table>
          </details>
        </td>
      </tr> -->
      <!-- <tr>
        <td>
          <div class="control">
            <input
              #searchbox
              class="input"
              type="text"
              placeholder="Search Metrics"
              (keyup)="searchTerm$.next(searchbox.value)"
            />
          </div>
        </td>
        <td>
          <table
            *ngIf="this.filteredMetrics$ | async as filteredMetrics"
            class="
              table
              is-bordered is-striped is-narrow is-hoverable is-fullwidth
            "
          >
            <ng-container *ngIf="filteredMetrics.length > 0; else noMatches">
              <tr *ngFor="let metric of filteredMetrics">
                <td class="property-name">{{ metric[0] }}</td>
                <td>{{ metric[1] }}</td>
              </tr>
            </ng-container>
            <ng-template #noMatches>No Matches</ng-template>
          </table>
        </td>
      </tr> -->
    </table>

    <!-- <h2>TX Pool</h2>
    <table
      class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
    >
      <tr>
        <td class="property-name">Valid</td>
        <td>{{ metrics['txpool/valid.count'] }}</td>
      </tr>
      <tr>
        <td class="property-name">Invalid</td>
        <td>{{ metrics['txpool/invalid.count'] }}</td>
      </tr>
      <tr>
        <td class="property-name">Pending</td>
        <td>{{ metrics['txpool/pending'] }}</td>
      </tr>
    </table> -->
  </div>
</section>
<ng-template #loadingOrError>
  <div class="has-background-danger has-text-white p-5">
    Can not connect to node, is it running?
  </div>
</ng-template>
