<div class="status-box" *ngIf="metrics">
  <div
    class="card-body d-flex flex-column"
    *ngIf="!(metrics[peersSelector] === undefined); else notRunning"
  >
    <h1 class="title">Vanguard</h1>

    <div class="flex-fill">
      <span class="peers">{{ metrics[peersSelector] }}</span>
      <span class="label">Peers </span>
    </div>

    <div class="status d-flex flex-row">
      <div>
        <div class="label">LAST SLOT</div>
        <span class="latest-block">
          {{
            metrics['beacon_head_slot'] | currency: '#':'symbol':'1.0-0'
          }}</span
        >
      </div>
      <div class="ms-auto">
        <div class="label">STATUS</div>
        <ng-container *ngIf="metrics[peersSelector] as peers">
          <span *ngIf="peers >= 20" class="badge bg-success">Excellent</span>
          <span *ngIf="peers < 20 && peers > 0" class="badge bg-warning"
            >Ok</span
          >
          <span *ngIf="peers <= 0" class="badge bg-danger">Not syncing</span>
        </ng-container>
      </div>
    </div>
  </div>
  <ng-template #notRunning> Not Running </ng-template>
</div>
