<div class="status-box" *ngIf="metrics">
  <div
    class="card-body d-flex flex-column"
    *ngIf="!(metrics.peers === undefined); else notRunning"
  >
    <h1 class="title">
      Vanguard <span>{{ version.vanguard }}</span>
    </h1>

    <div class="flex-fill">
      <span class="peers">{{ metrics.peers }}</span>
      <span class="label">Peers </span>
    </div>

    <div class="graph">
      <ngx-charts-line-chart
        [showGridLines]="true"
        [activeEntries]="graphData"
        [legend]="false"
        [animations]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [showGridLines]="true"
        [autoScale]="true"
        [results]="graphData"
        [customColors]="customColors"
      >
      </ngx-charts-line-chart>
    </div>

    <div class="status d-flex flex-row">
      <div>
        <div class="label">LAST SLOT</div>
        <span class="latest-block">
          {{ metrics.headSlot | currency: '#':'symbol':'1.0-0' }}</span
        >
      </div>
      <div class="ms-auto">
        <div class="label">STATUS</div>
        <ng-container *ngIf="metrics">
          <span *ngIf="metrics.peers >= 10" class="badge bg-success"
            >Excellent</span
          >
          <span
            *ngIf="metrics.peers < 10 && metrics.peers > 0"
            class="badge bg-warning"
            >Ok</span
          >
          <span *ngIf="metrics.peers <= 0" class="badge bg-danger"
            >Not syncing</span
          >
        </ng-container>
      </div>
    </div>
  </div>
  <ng-template #notRunning>
    <button type="button" class="btn btn-primary" routerLink="/launchpad">
      Start Vanguard
    </button>
  </ng-template>
</div>
