:host {
  display: block;
  padding: 40px;
  margin: 0 auto;
  max-width: 800px;
}

h3 {
  font-size: 35px;
  font-family: 'Sofia W05 Semi Bold';
}

.btn-generate-keys {
  width: 300px;
}

.text-center {
  font-family: 'Sofia W05 Light';
  max-width: 80%;
  margin: 0 auto;
}
